{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar {{ todo['description'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="POST">
        <label for="description">Description</label>
        <input name="description" id="description" 
        value="{{ request.form['description'] or todo['description'] }}" />
        <label for="completed">Completado</label>
        <input type="checkbox" name="completed" id="completed" 
        {% if todo['completed'] == 1 %}checked{% endif %} />
        <input type="submit" value="Save" />
    </form>
    <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="POST">
        <input class="danger" type="submit" value="Eliminar" 
        onclick="return confirm('are you sure of delete this todo?')" />
    </form>
{% endblock %}